<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hit.webhomework.mapper.ClazzMapper">

    <resultMap id="BaseResultMap" type="com.hit.webhomework.domain.entity.Clazz">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="classroom" column="classroom" jdbcType="VARCHAR"/>
            <result property="headTeacher" column="head_teacher" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,classroom,head_teacher
    </sql>
</mapper>
