<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hit.webhomework.mapper.EmpMapper">

    <resultMap id="BaseResultMap" type="com.hit.webhomework.domain.entity.Emp">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="job" column="job" jdbcType="TINYINT"/>
            <result property="entrydate" column="entry_date" jdbcType="DATE"/>
            <result property="deptId" column="dept_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        name,gender,image,
        job,entrydate,dept_id,
        create_time,update_time
    </sql>
    <select id="getAggJob" resultType="com.hit.webhomework.domain.response.EmpJobAggResponse">
        select count(1) as jobCount,job from emp group by job;
    </select>
    <select id="getAggGender" resultType="com.hit.webhomework.domain.response.EmpGenderAggResponse">
        select count(1) as genderCount,gender from emp group by gender;
    </select>
    <select id="getAggDept" resultType="com.hit.webhomework.domain.response.EmpDeptAggResponse">
        select count(1) as deptCount,d.name as deptName from emp e left join dept d on e.dept_id = d.id group by e.dept_id;
    </select>

</mapper>
